body {
    font-family: 'Roboto', sans-serif;
}

#full-picture {
    width: 100vw;
    height: 100vh;
    background-image: url("https://10websites-design-to-html-css.netlify.app/restaurant-design/bg.png");
    background-position: center;
    background-size: cover;
}

#container {
    height: 100vh;
    width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

#firstnav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    font-size: 2.5em;
    align-items: center;
    padding-top: 0.5em;
}

#phone {
    font-size: 0.7em;
}

#phone:hover {
    opacity: 0.8;
}

#logo {
    color: #026e78;
    font-weight: bold;
}

#logo:hover {
    opacity: 0.8;
}

.fas {
    margin-right: 15px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

ul li {
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

ul li a {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#home {
    background-color: white;
    color: #026e78;
    font-weight: bold;
}

#home:hover {
    opacity: 0.8;
}

.similar {
    background-color: #2d99a4;;
}

#book {
    background-color: #026e78;
}

nav a:hover {
    opacity: 0.8;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 650px;
}

h1 {
    font-size: 4em;
    color: white;
    background-color: #026e78;
    font-weight: 100;
    padding: 20px;
}

#firstBtn {
    border: none;
    color: #026e78;
    font-size: 2em;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#secondBtn {
    border: none;
    background-color: #2d99a4;
    color: white;
    padding: 15px;
    font-size: 2em;
}

@media (max-width: 1000px) {
    #container {
        width: 90%;
    }
}

@media (max-width: 800px){
    #firstnav {
        flex-direction: column;
    }
    section {
        font-size: 0.6em;
    }
}

@media (max-width: 700px) {
    nav ul {
        flex-wrap: wrap;
        margin-bottom: 1em;
    }
}